{% extends 'store/layout/base.html' %}

{% block title %}Detalles del Producto{% endblock title %} 

{% block main %}
    <div class="container">
        <h1>Detalles del Producto</h1>
        <div class="product-details">
            <img src="{{ product.images.url }}" alt="">
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.product_description }}</p>
            <p>Precio: ${{ product.price }}</p>
            <!-- Agrega más detalles del producto si es necesario -->
        </div>
    </div>
{% endblock main %}