{% extends 'store/layout/base.html' %}
{% load humanize %}

{% block title %}Te lo vendo{% endblock title %} 
{% block main %}

    <div class="products col-lg-12">
        {% for product in products  %}
        <div class="card col-lg-4">
            <div class="card-img">
                <img src="{{ product.images.url }}" alt="">
            </div>
            <div class="card-info">
              <p class="text-title">{{ product.product_name }}</p>
              {% comment %} <p class="text-body"> {{product.product_description}} </p> {% endcomment %}
            </div>
            <div class="card-footer">
            <span class="text-price">${{product.price|intcomma}} </span>
                <div class="card-button">
                    <svg width="512" height="512" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#f8801d" d="M11 9h4v2h-4v4H9v-4H5V9h4V5h2v4zm-1 11a10 10 0 1 1 0-20a10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16z"/>
                    </svg>
                </div>
             </div>
        </div>
        {% endfor %}
    </div>

    
       
  
    {% comment %} <img class="profile_image" src="{{user.profile.image}}" alt=""> {% endcomment %}
      
{% endblock main %}



