{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-column pt-0 ">
  <div class='mini_banner'>
    
  </div>
    <div class="container-fluid navbar_custom d-flex">
      <div class='permanent'>
        <div class='d-flex'>
          <a class="navbar-brand me-4" href=" {% url 'home' %} "><img class="logo" src=" {% static 'store/img/logoTeLoVendo.png' %} " alt="logo"></a>
          <form method="GET" action="{% url 'home' %} " class="d-none d-md-flex form_search_navbar" >
            <input type="search" name="buscar" placeholder="¿Qué necesitas?" aria-label="Search" value="{{ busqueda }}" class="input_search">
            <button class="btn " type="submit"><img class='navbar_icon' src=" {% static 'store/img/searchIcon.svg' %} " alt=""></button>
        </form>
        </div>
        <div class="d-flex align-items-center justify-content-end">
         
            {% if user.is_authenticated %}
                <span class="welcome d-flex flex-column">
                  <p>Bienvenido</p>
                  <p>{{user.first_name}}</p>
                </span>
                <a class="nav-link" href="{% url 'profile' %}">
                  <img  class='navbar_icon ms-2 me-1' src=" {% static 'store/img/user.svg' %} " alt="">
                </a> 
            {% else %}
                <a class="nav-link" href="{% url 'login' %}"><img  class='navbar_icon ms-3 me-1' src=" {% static 'store/img/user.svg' %} " alt=""></a>
            {% endif %}
            <button class='bag_navbar me-4 '>
              <img class="navbar_icon" src="{% static 'store/img/bagIcon.svg' %}" alt="">
              <span>0</span>  
            </button>
          
            <button class='d-md-none  menu_button' type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span>
                <img class="navbar_icon" src="{% static 'store/img/menuIcon.svg' %}" alt="">
              </span>
            </button>
        </div>
      </div>

      <div class="collapse navbar-collapse collapse_custom" id="navbarNav">
        <form class="d-flex d-md-none form_search_navbar">
          <input class="input_search" type="search" placeholder="¿Qué necesitas?" aria-label="Search">
          <button class="btn " type="submit"><img class='navbar_icon' src=" {% static 'store/img/searchIcon.svg' %} " alt=""></button>
        </form class='form_search'>
        <div class='category_container'>
          <a class="category_navbar" href=" {% url 'home' %}">Todos</a> 
          {% for category in categories  %}
            <a class="category_navbar" href=" {% url 'home' category.slug %}">{{category.category_name}}</a> 
          {% endfor %}
        </div>

      </div>
    </div>
  </nav>
